body {
    background-color: whitesmoke;
    margin: 0;
    text-align: center;
    font-family: Merriweather;
    color: #40514E;


}

h1 {
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    color:#66bfbf;
    font-family: cursive;
}

h2 {
    color: #11999E;
    font-weight: normal;
    font-family: montserrat;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: sans-serif;
}

p{
    line-height: 2;
}

.top-container {
    height: 200px;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190622/ourmid/pngtree-business-electronic-technology-background-image_210545.jpg);
}

.middle-container {
    margin: 100px, 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0px 20px;
}

a {
    color: #11999E;
    font-family: montserrat;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}
.nature {
    width: 100%;
}

.intro {
    width: 30%;
    margin: auto;

}

.profile-pic {
    padding-top: 10px;
    border-radius: 50%;
    width: 50%;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    
    text-align: left;
}

.code-gif {
    width:25%;
    margin-right: 30px;
    float: left;
}

.diplo-women {
    width:25%;
    margin-left: 30px;
    float: right;
}

hr {
    border: dotted #EAF6F6 6px;
    width: 4%;
    margin: 100px auto;
    color: #11999E;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px ;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: monospace;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
   
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
